img {
  height: 250px;
  width: auto;
  float: right;
}

/* make transfercell DOM element a freaking GHOST baby */
/* as per https://medium.freecodecamp.org/how-to-disappear-completely-2f23ddb14835 */
#passagetransfer, #responsetransfer {
  visibility: hidden;
  display: none;
  opacity: 0.0;
}

/* This was here when I got here */
.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
